<main class="profile-page">

    <section style=" position: absolute; width: 100%; height: 100vh; padding: 50vh;" *ngIf="!modelEmployee.validityVerifyTemp" class="section section-shaped section-lg">
        <div class="row justify-content-center">
            <div class="d-flex align-items-center">
                <app-loading-spinner></app-loading-spinner>
            </div>
        </div>
    </section>

    <section 
        *ngIf="!modelEmployee.validityVerify && modelEmployee.validityVerifyTemp"
        class="section" 
        style="width:100%; 
            height: 100vh; 
            padding: 40vh"
    >
        <div class="d-flex justify-content-center">
            <div class="d-flex align-items-center">
                <h2 style="text-align: center;">404 Error
                <br>Sorry, there is a problem.
                <br>This page does not exist!</h2>
            </div>
        </div>
    </section>

<section
*ngIf="modelEmployee.validityVerify && modelEmployee.validityVerifyTemp"
class="section" 
style="width:100%; 
      height: 100vh; 
      padding: 40vh"
>

    <div class="d-flex justify-content-center">
        <div class="d-flex align-items-center">

            <div style="width:364px;">

                <span 
                    style="font-size:16px;"
                    class="text-uppercase 
                    font-weight-bold"
                    >
                        Sr. Collaborator
                </span>

                <br />
                <br />


                <form class="form-group" (ngSubmit)="onSubmit2(f)" #f="ngForm">
                    <input 
                        ngModel
                        name="name"
                        required
                        type="text" 
                        placeholder="Full name" 
                        class="form-control" 
                    />
                
                    <br />

                    <div class="d-flex 
                        flex-column 
                        align-items-end"
                    >
                        <button 
                            type="submit" 
                            class="btn btn-primary" 
                            style="background-color: #172B4D;"
                        >
                            Ok
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

    <!-- <user-data-profile 
        *ngIf="userNameInserted"
    >
      </user-data-profile>
  
    <section
        *ngIf="!userNameInserted"
    >

    </section> -->
     
</main>
