<main class="profile-page">

    <section
class="section" 
style="width:100%; 
      height: 100vh; 
      padding: 35vh"
>

    <div class="d-flex justify-content-center">
        <div class="d-flex align-items-center">



                <div class="form-group">


                    <div class="d-flex justify-content-center">
                        <img style="width:100px" src="../../assets/img/icons/common/sprint-planning-new.png">
                    </div>
                    <br />
     

                    <input 
                        type="text" 
                        placeholder="Full name" 
                        class="form-control" 
                    />
                
                    <br />


                
                    
                    <div class="d-flex 
                        flex-column 
                        align-items-end"
                    >
                        <button 
                            type="button" 
                            class="btn btn-primary" 
                            style="background-color: #172B4D;"
                        >
                            Create A New Planning Meeting
                        </button>
                    </div>
                </div>
         
        </div>
    </div>
</section>
     
</main>
